<div class="todo-list">
  <!--  todo: add item component  -->
  <app-add-item (add)="addItem($event)"></app-add-item>

  <div class="list-container">
    <div class="list-title-container">
      <p class="list-title">Tasks</p>

      <select
        class="list-filter"
        [(ngModel)]="showFilter"
        (ngModelChange)="applyFilter()"
      >
        <option value="all">Show All</option>
        <option value="doing">Doing</option>
        <option value="completed">Completed</option>
      </select>

    </div>
    <ul class="list">
      <ng-container *ngFor="let item of filteredItems">
        <app-item
          [item]="item"
          (remove)="removeItem($event)"
          (update)="updateItem($event)"
        ></app-item>
      </ng-container>
      <!--   when no data   -->
      <li
        *ngIf="filteredItems.length === 0"
        class="list-item"
      >
        No Data
      </li>
    </ul>
  </div>
</div>
