.list-container {
  margin: 3rem;
  background: white;
}

.list {
  padding: 0 2rem 0 1rem;
  border-top: 1px solid #e8e8e8;
  margin-top: auto;
}

.list-title-container {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid #00d6ff;
  padding: 1.4rem 2rem 1.6rem;
  margin: 0;
}

.list-title {
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: auto;
  margin-bottom: auto;
}

.list-filter {
  align-self: center;

  &:focus {
    outline: 2px solid #69e7ff;
  }
}

.list-item {
  text-align: center;
  list-style: none;
  padding: 1rem 0;
}
